.m-left{
	.m-list{
		background: #fff;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		color: #333;
		font-size: 14px;
		.m-sort{
			padding: 15px 20px 2px 20px;
			@mixin tri{
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				margin-bottom: 2px;
			}
			@mixin tri-re{
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
			}
			.tri{
				@include tri;
				border-bottom: 6px solid #ccc;
			}
			.tri-re{
				@include tri-re;
				border-top: 6px solid #ccc;
			}
			dl{
				display: flex;
				flex-direction: row;
				height: 30px;
				border-bottom: 1px solid #e5e5e5;
				.normal{
					height: 20px;
					line-height: 20px;
					padding: 0 10px;
					margin-right: 30px;
					cursor: pointer;
					>div{
						width: 6px;
						float: right;
						//height: 20px;
						margin-top: 3px;
						margin-left: 4px;
					}
				}
				.price-down{
					.tri-re{
						@include tri-re;
						border-top: 6px solid #222;
					}
					.tri{
						@include tri;
						border-bottom: 6px solid #ccc;
					}
					>div{
						width: 6px;
						float: right;
						//height: 20px;
						margin-top: 3px;
						margin-left: 4px;
					}
				}
				.price-up{
					.tri{
						@include tri;
						border-bottom: 6px solid #222;
					}
					.tri-re{
						@include tri-re;
						border-top: 6px solid #ccc;
					}
					>div{
						width: 6px;
						float: right;
						//height: 20px;
						margin-top: 3px;
						margin-left: 4px;
					}
				}
			}
		}
		.m-content{
			.content{
				padding: 10px 20px;
				.list{
					display: flex;
					border-bottom: 1px solid #e5e5e5;
					margin-bottom: 10px;
					padding: 4px 0;
					.img,img{
						width: 220px;
						height: 125px;
						border-radius: 4px;
					}
					.text{
						margin-left: 20px;
						width: 70%;
						.name{
							font-weight: 500;
							font-size: 16px;
							color: #333;
							cursor: pointer;
							a{
								color: #333;
							}
						}
						.rate{
							display: flex;
							margin-top: 6px;
							p{
								margin: 0 6px 0;
								font-size: 12px;
								margin-top: -2px;
								vertical-align: top;
								color: #666;
							}
						}
						.address{
							font-size: 12px;
							color: #666;
							margin-top: 6px;
							span{
								margin-right: 6px;
							}
						}
						.price{
							font-size: 12px;
							color: #666;
							margin-top: 16px;
							padding-bottom: 10px;
							border-bottom: 1px dashed #e5e5e5;
						}
						.tag{
							padding: 6px 0;
							font-size: 12px;
							color: #666;
						}
					}
				}
			}
		}
	}
}