.el-header,.el-main,.el-footer{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: unset;
}

$line-height : 40px;

.el-header{
	background: #F8F8F8;
	.MyHeader{
		height: $line-height;
		line-height: $line-height;
		color: #999;
		font-size: 12px;
		width: 1190px;
		margin: 0 auto;
		z-index: 9;
		li{
			list-style: none;
		}
		.city{
			line-height: $line-height;
			.changecity{
				color: #666;
				border: 1px solid #E5E5E5;
				background-color: #F4F4F4;
				border-radius: 2px;
				&:hover{color: #FE8C00;}
			}
		}
		.user{
			line-height: $line-height;
			a:nth-child(1){color: #FE8C00;}
			a:nth-child(2){color: #999;}
			>span{
				margin-right: 5px;
			}
			>div{
				display: inline;
				color: #FE8C00;
				cursor: pointer;
			}
		}
		.m-nav{
			float: right;
			margin: 0;
			padding: 0;
			height: $line-height;
			line-height: $line-height;
			z-index: 999;
			.nav{
				float: right;
				height: $line-height;
				//line-height: $line-height;
				list-style: none;
				padding: 0;
				margin: 0;
				>li{
					float: left;
					width: 78px;
					text-align: center;
					box-sizing: border-box;
					//border: 1px solid transparent;
					a{
						color: #999;
						&:hover{
							color: #FE8C00;
						}
					}
					dl{
						z-index: 999;
						background: #fff;
					}
					&.list{
						>dl{
							background: #fff;
							padding: 0;
							display: none;
							>dd{
								line-height: 35px;
								padding: 0;
								margin-left: 0;
								&:hover{color: #FE8C00;}
							}
						}
						&:hover{
							border: 1px solid #E5E5E5;
							border-top: none;
							background: #fff;
							color: #FE8C00;
							z-index: 9999;
							>dl{
								display: block;
								margin-top: 0px;
								border-bottom-left-radius: 4px;
								border-bottom-right-radius: 4px;
							}
						}
					}
					&.sell{
						position: relative;
						>dl{
							position: absolute;
							width: 140%;
							left: -31px;
							border: 1px solid #E5E5E5;
							border-top: none;
							margin: 0 !important;
						}
					}
					&.dh{
						position: relative;
						.dhlist{
							border: 1px solid #E5E5E5;
							background: #fff;
							position: absolute;
							float: left;
							width: 1050px;
							padding: 20px 10px;
							left: -995px;
							display: none;
							>dl{
								display: block;
								float: left;
								text-align: center;
								margin: 0 10px;
								padding: 10px;
								//width: 220px;
								dt{
									line-height: 60px;
									font-size: 14px;
									color: #000;
								}
								>dd{
									float: left;
									margin-left: 0;
									line-height: 30px;
									text-align: center;
									&:hover{color: #FE8C00;}
								}
								&.hotel{
									width: 256px;
									>dd{
										width: 33%;
									}
								}
								&.food{
									width: 120px;
									>dd{
										width: 50%;
									}
								}
								&.movie{
									width: 90px;
									>dd{
										width: 100%;
									}
								}
								&.appicon{
									>dd{
										margin: 0 10px;
										img{
											width: 60px;
											height: 60px;
										}
									}
								}
							}
						}
						&:hover{
							border-bottom: none;
							.dhlist{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}