.m-search{
	.search-panel{
		height: 176px;
		background: #fff;
		.searchBar{
			.el-row{
				.mt-img{
					padding: 30px 0;
					margin-left: 12px;
					img{
						width: 124px;
						height: 46px;
						float: right;
					}
				}
				.input_btn{
					display: flex;
					padding: 30px 0;
					margin-left: 100px;
					.input{
						width: 400px;
					}
					.button{
						width: 4rem;
						background: #FFC300;
						border-color: #FFC300;
						margin-left: -5px;
					}
					.noinput,.hasInput{
						position: absolute;
						z-index: 999;
						border: 1px solid #E5E5E5;
						border-top: none;
						font-size: 12px;
						text-align: left;
						color: #999;
						background: #fff;
						width: 380px;
						padding: 10px;
						top: 59px;
						>dd{
							margin: 5px 5px 12px 2px;
							padding: 0;
							a{
								color: #666;
							}
						}
					}
				}
			}
		}
	}
	.search-list{
		position: relative;
		font-size: 16px;
		font-weight: 700;
		width: 1200px;
		margin-left: 0;
		height: 70px;
		li{
			list-style: none;
			float: left;
			margin: 0 20px;
		}
		>ul{
			width: 60%;
			margin: 0 auto;
			padding: 30px 0 0 20rem;
			a{color: #222;}
			.takeout{
				>a{
					&:hover{
						color: #fbc700;
					}
				}
			}
			.takeout{
				>a{
					&:hover{
						color: #fbc700;
					}
				}
			}
			.mymovie{
				>a{
					&:hover{
						color: #ed1e24;
					}
				}
			}
			.hotel{
				>a{
					&:hover{
						color: #f04d4e;
					}
				}
			}
			.apartment{
				>a{
					&:hover{
						color: #FDC411;
					}
				}
			}
			.business{
				>a{
					&:hover{
						color: #FE8C00;
					}
				}
			}
			.benefit{
				>a{
					&:hover{
						color: #f04d4e;
					}
				}
			}
		}
	}
}
