@font-face {
  font-family: 'iconfont';  /* project id 1635398 */
  src: url('//at.alicdn.com/t/font_1635398_p2kgwo72xma.eot');
  src: url('//at.alicdn.com/t/font_1635398_p2kgwo72xma.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1635398_p2kgwo72xma.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1635398_p2kgwo72xma.woff') format('woff'),
  url('//at.alicdn.com/t/font_1635398_p2kgwo72xma.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1635398_p2kgwo72xma.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url('//at.alicdn.com/t/font_1635398_csms2wd027.eot');
  src: url('//at.alicdn.com/t/font_1635398_csms2wd027.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1635398_csms2wd027.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1635398_csms2wd027.woff') format('woff'),
  url('//at.alicdn.com/t/font_1635398_csms2wd027.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1635398_csms2wd027.svg#iconfont') format('svg');
}


@font-face{
  font-family: "MFShangHei-Regular";
    src: url("../fonts/MFShangHei-Regular.otf"); /* IE9 */
    src: url("../fonts/MFShangHei-Regular.otf") format("embedded-opentype"),
     url("../fonts/MFShangHei-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}